name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - id: esc-secrets
        uses: pulumi/esc-action@6cf9520e68354d86f81c455e8d43eabd58f5c9f5 # v1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          github_token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
      - run: mise run ci
        env:
          GITHUB_TOKEN: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}

  integration:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - id: esc-secrets
        uses: pulumi/esc-action@6cf9520e68354d86f81c455e8d43eabd58f5c9f5 # v1
      - run: mkdir integration-cache
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          # Need to install mise and the repo tools
          install: true
          cache: true
          cache_save: false
          github_token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
      - run: mise plugin link --force vfox-pulumi .
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          cache: false
          mise_toml: |
            [tools]
            "vfox-pulumi:pulumi/pulumi-local" = "0.1.6"
            "vfox-pulumi:pulumi/pulumi-tls" = "latest"
            "vfox-pulumi:equinix/pulumi-equinix" = "0.6.0"
          working_directory: integration-cache
          github_token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
          experimental: true
      - run: cd integration-cache && pulumi-resource-local --version


  integration-cache:
    needs: integration
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - id: esc-secrets
        uses: pulumi/esc-action@6cf9520e68354d86f81c455e8d43eabd58f5c9f5 # v1
      - run: mkdir integration-cache
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          # Need to install mise and the repo tools
          install: true
          cache: true
          cache_save: false
      - run: mise plugin link --force vfox-pulumi .
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          cache: true
          mise_toml: |
            [tools]
            "vfox-pulumi:pulumi/pulumi-local" = "0.1.6"
            "vfox-pulumi:pulumi/pulumi-tls" = "latest"
            "vfox-pulumi:equinix/pulumi-equinix" = "0.6.0"
          working_directory: integration-cache
          github_token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
          experimental: true
      - run: cd integration-cache && pulumi-resource-local --version



